<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GPlace</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/all.min.css">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script src="/static/js/scroll.js"></script>
</head>
<body>
  <nav class="navbar">
    <div class="logo">
      <a href="/home/">
        <img src="/static/images/GD1.png" alt="Logo" class="logo-image">
      </a>
    </div>
    <div class="nav-links">
      <a href="home.html">Explore</a>
      <a href="shop.html">Shop</a>
      <a href="delivery.html">New collections</a>
      <a href="#">Learn about GD</a>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Looking for something...">
    </div>
    <div class="auth-container">
      <a href="/login/" class="sign-up">Sign In</a>
      <a href="/register/" class="sign-in">Sign Up</a>
    </div>
    <div class="icons">
      <i class="fas fa-shopping-cart"></i>
      <i class="fas fa-user-circle"></i>
    </div>
  </nav>
    <div>
        <div>
            <input id="shirota" type="text" placeholder="широта" value="43">
            <input id="dolgota" type="text" placeholder="долгота" value="23">
            <input id="third" type="text" placeholder="какой-то 3ий" value="11">
        </div>
        <div>
            <button id="btn">Применить</button>
        </div>
    </div>
    <div id="map">
    </div>
</body> -->